<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
</head>
<%- include('include/header'); %>
<body>
    <ol>
        <li>회원가입 페이지 만들기</li>
        <li>Index 페이지 꾸미기</li>
        <li>DB연동하여 information 만들기</li>
        <li>list만들기</li>
        <li>관리자 페이지 만들기</li>
        <li>footer 만들기</li>
    </ol>
</body>
</html>