<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
</head>
<%- include('include/header'); %>
<body>
    <ol>
        <li>회원가입 페이지 만들기(이메일을 이용한)</li>
        <li>Index 페이지 꾸미기</li>
        <li>DB연동하여 information 만들기</li>
        <li>list만들기</li>
        <li>관리자 페이지 만들기</li>
        <li>footer 만들기</li>
    </ol>

    ~~
    <p>
        날짜별로 정리
    </p>

    `02.09
    <ol>
        <li>기초적인 틀 만듬</li>
        <li>information.ejs만들었음.</li>
        <li>
            사용한 웹 사이트 목록
            <ul>
                <li>https://getbootstrap.com/docs/4.4/utilities/text/#text-alignment</li>
            </ul>
        </li>
    </ol>
</body>
</html>