<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>programming</title>
</head>
<%- include('../include/header'); %>
<body>
  <section> 
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <%- include('../include/programming_treeview'); %>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Welcome to Programming world!</h1>            
          </div>
          이 페이지에 대한 소개글을 써 넣을 것입니다.
        </main>
      </div>
    </div>
  </section> 
  <span class="badge badge-secondary">New</span>   
</body>
</html>